<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Pubs" connectionString="server=192.168.0.234;database=TestDb;user id=root;pwd=123456" providerName="MySql.Data.MySqlClient" />
    <!--<add name="Pubs" connectionString="server=10.9.8.49;database=Cloud7BeginPage;user id=root;pwd=cloud7@WSX2wsx" providerName="MySql.Data.MySqlClient" />-->
    <add name="Chuye" connectionString="server=118.192.87.136;database=Cloud7BeginPage;Port=4040;user id=beginpage;password=4c2b870a752f45edacb37707f59d29e5;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>